<body id="about">

    <h1 id="about-me"> Kristian Waithe - Future Software Engineer  </h1>
    <br>
    <div style="width:980px; margin-left:auto; margin-right:auto;">
    <img src="Assets\images\Kris2.png" alt="headshot" style="float:right" id="me">
    <h5>Tech enthusiast always looking forward to experiencing new technologies</h5>
    <a href="Assets/images/KWResume.pdf">Resume</a>
    <br>
    <p></p>
    <ul>
    <li>Placeholder</li>
    </ul>
    
    
    <p>Some of my favorite activities are:</p>
    <ul>
    <li>Dancing</li>
    <li>Singing</li>
    <li>Watching movies</li>
    <li>Listening music</li>
    <li>Exploring new cuisines</li>
    <li>Yoga and Meditation</li>
    </ul>
    </div>
    </body>