<body id="about">

    <h1 id="about-me"> Kristian Waithe - Future Software Engineer  </h1>
    <br>
    <div style="width:980px; margin-left:auto; margin-right:auto;">
    <h5>Tech enthusiast always looking forward to experiencing new technologies</h5>
        <br>
    <p></p>
    <ul>
    <li>Placeholder</li>
    </ul>
    
    
    <p>Some of my current hobbies include:</p>
    <ul>
    <li>Streaming</li>
    <li>Playing Video Games</li>
    <li>Playing Guitar</li>
    <li>Repairing PC & PC Peripherals</li>
    <li>Gardening</li>
    </ul>
    
    <a href="Assets/images/KWResume.pdf">Resume</a>
    </div>

    
    </body>