<!--
    File Name: Bottom_Nav.ejs
    Student Name: Kristian Waithe   
    Student ID: 300637474
    Date: 03/06/2022
-->

<!-- Bottom Navigation -->

<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid">
    <h6 class="display-14 navbar-text">&copy; 2022. All Rights Reserved. </h6>
  </div>
</nav>

<!-- 
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text">&copy; 2022. All Rights Reserved. </h6>
    </nav>
</footer> -->