<body id="home">
    <!-- Home Content -->
       <main>  
            <h1 id="WM"> Hello! I Am Kristian Waithe. Welcome To My Portfolio!</h1>
            <div class="box">
              <p id="MS">I am a software engineering student at Centennial College who's completing the last few courses I need to graduate.</p>
              <a href="/about" class="btn btn-light btn-lg">Click Me!</a>
              </div>          
          </main>
  </body>