<body id="home">
    <!-- Home Content -->
       <main>  
            <h1 id="welcomeMessage"> Welcome To My Portfolio!</h1>
            <div class="box">
              <img src="public\Assets\images\Kris.jpg" alt="My picture" class="box-img">
              <h1 id="myName">Hello! I Am Kristian Waithe</h1>           
              <p id="biographyText">I am a software engineering student who's completing the last few courses I need to graduate.</p>  
              <a href="/about_me" class="btn btn-light btn-lg">Click Me!</a>
              </div>          
          </main>
  </body>