<body id="project"> 
        
    <!-- MAIN (Center website) -->
    <h1 id="project-head">Current Projects</h1>
    <h2 id="project-desc">Some of my current projects</h2>
    <br>
           

<div style="width:980px; margin-left:auto; margin-right:auto;">
<div class="row">

    
<div class="column">
<div class="content">
<h3 id="p1-workshop">Workshop</h3>
<img src="Assets\images\Workshop.jpg" alt="Workshop" style="width:100%">
<p id="p1-blurb">I recently setup mmy workshop so I could build PCs, keyboards as well as repair peripherals and other gadgets. In the photo above, I am 
    repairing my mouse's double click issue by replacing the stock switches with something a bit heavier. Also good solder practice!</p>
<br>
</div>

</div>
<div class="column">
<div class="content">
<h3 id="p2-customkeyboards">Custom Keyboards</h3>
<img src="Assets\images\Keyboard.png" alt="Keyboards" style="width:100%">
<p id="p2-blurb">While not a picture of an actual keyboard I've built, it's the picture that inspired me to get into keyboard building. Custom keyboards
    have become very popular over the last few years as self expression becomes more popular and easily expressed. Fun fact, I'm currently awaiting the Key Caps in the above picture
    and they will be my first ever set acquired. Looking forward to building my first keyboard from scratch!</p>
<br>    
</div>

</div>
<div class="column">
<div class="content">
<h3 id="p3-streaming">Streaming</h3>    
<img src="Assets\images\Rig.jpg" alt="Gaming Rig" style="width:100%">
<p id="p3-blurb">Video games were the jumping off point for me into the world of technology as a whole. I still have my NES from the 90's in working condition,
    but as you can see I have substantially upgraded since then. I've been a small time streamer for the past few years and really love that I can interact
    with people who also have similar taste in games and media as I do. It's no small feat that we're as interconnected as we are nowadays and I personally thank
technology, and more specifically video games, for giving me a new avenue in which I can be social.</p>
</div>
<br>
<br>
<br>
</body>