<body id="project"> 
        
    <!-- MAIN (Center website) -->
    <h1 id="project-head">Current Projects</h1>
    <p id="project-desc">Some of my current projects</p>
    <br>
           

<div style="width:980px; margin-left:auto; margin-right:auto;">
<div class="row">

    
<div class="column">
<div class="content">
<h3 id="p1-workshop">Workshop</h3>
<img src="Assets\images\Workshop.jpg" alt="Workshop" style="width:100%">
<p id="p1-blurb">I recently setup mmy workshop so I could build PCs, keyboards as well as repair peripherals and other gadgets. In the photo above, I am 
    repairing my mouse's double click issue by replacing the stock switches with something a bit heavier. Also good solder practice!</p>
<br>
</div>

</div>
<div class="column">
<div class="content">
<h3 id="p2-summary">Custom Keyboards</h3>
<img src="Assets\images\Keyboard.png" alt="Keyboards" style="width:100%">
<p id="p2-blurb">While not a picture of an actual keyboard I've built, it's the picture that inspired me to get into keyboard building. Custom keyboards
    have become very popular over the last few years as self expression becomes more popular and easily expressed. Fun fact, I'm currently awaiting the Key Caps in the above picture
    and they will be my first ever set acquired. Looking forward to building my first keyboard from scratch!</p>
</div>

</div>
<div class="column">
<div class="content">
<img src="Assets\images\Rig.jpg" alt="Entity Diagram" style="width:100%">
<h3 id="project3">SQL Database for Men Shoes</h3>
<p id="projectText3">Designed and developed an e-commerce application database and Entity-Relationship diagram (Men shoes) using SQL developer</p>
</div>
</div>
</div>
</body>