<!--
    File Name: Services.ejs
    Student Name: Kristian Waithe   
    Student ID: 300637474
    Date: 03/06/2022
-->

<body id="servicesBody">
    <div style="width:980px; margin-left:auto; margin-right:auto;">
    <h2 id="servicesHeading">Services Offered</h2>
    <p>Following are the services offered:</p>
    <ul id="servicesDescription">
    <li>I can successfully built a website for your company</li>
    <li>I can design small functional applications like a BMI calculator, music player using C#</li>
    <li>I can design college forms</li>
    </ul>
    <p>Technical Skills</p>
    <ul>
    <li>C#, Python</li>
    <li>HTML5, CSS3, JavaScript, TypeScript, NodeJs</li>
    <li>Linux</li>
    <li>Oracle SQL</li>
    </ul>
    <br>
    </body>