<!--
    File Name: Services.ejs
    Student Name: Kristian Waithe   
    Student ID: 300637474
    Date: 03/06/2022
-->

<!--
<h1 id="services">My Offered Services</h1>
<body id="servicesBody">
    <div style="width:980px; margin-left:auto; margin-right:auto;">
        
<h1>Here are the services I provide:</h1>

<h3> Software Related Services</h3>
    <ul id="services-software">
        <li>Website design using HTML5, JavaScript, TypeScript</li>
        <li>Simple game design using Python</li>
    </ul>
    
<h3> Hardware Related Services</h3>
    <ul id="services-hardware">
        <li>Building computers and keyboards</li>
        <li>Peripheral and gadget repairs</li>
    </ul>
    <br>
    </body>
-->